.mainContainer{
    padding: 20px;
    min-height: 400px;
}
.chartDiv{
    width: 85%;
    margin: 0 auto;
}
.formContainer{
    width: 60%;
    margin: 0 auto;
    font-size: 16px;
    margin-top: 40px;
}
input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.errorlist {
  color: red;
}

@media only screen and (max-width: 940px){
    .mainContainer{
        width: 100%;
        padding: 20px;
        min-height: 400px;
        height: auto;
        box-sizing: border-box;
    }
    .chartDiv{
        width: 100%;
    }
    .formContainer{
        width: 100%!important;
        margin-top: 20px;
    }
}